@use "../index.scss" as *;

.reset__button {
  width: 100%;
  border: none;
  border-radius: 5px;
  background: $strong-cyan;
  color: $very-dark-cyan;
  cursor: pointer;
  padding: 0.3rem;

  &:hover {
    background: $light-greyish-cyan;
    color: $very-dark-cyan;
  }
}

input[type="radio"] {
  display: none;

  &:checked + label {
    background-color: $light-greyish-cyan;
    color: $very-dark-cyan;
  }
}

input[type="radio"] + label {
  display: block;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
  background: $very-dark-cyan;
  color: $white;

  &:hover {
    background: $strong-cyan;
    color: $very-dark-cyan;
  }
}
