@use "../index.scss" as *;

.calculation {
  background: $very-dark-cyan;
  border-radius: 15px;
  padding: 2rem;
  display: grid;
  gap: 2rem;

  span {
    font-size: 1.3rem;
    color: $dark-greyish-cyan;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__result {
    font-size: 3.2rem;
    font-weight: 700;
    color: $strong-cyan;
  }

  @media screen and (min-width: 860px) {
    grid-row: 1/3;
    align-self: center;
  }
}

.reset__button {
  width: 100%;
  border: none;
  border-radius: 5px;
  background: $strong-cyan;
  color: $very-dark-cyan;
  cursor: pointer;
  padding: 0.3rem;

  &:hover {
    background: $light-greyish-cyan;
    color: $very-dark-cyan;
  }
}
