@use "../index.scss" as *;

.container {
  min-width: 375px;
  height: 100%;
  padding: 0rem 3rem;
  background: $white;
  border-radius: 15px 15px 0 0;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  gap: 2.3rem;

  @media screen and (min-width: 860px) {
    width: 920px;
    grid-template-columns: repeat(2, 1fr);
    height: 500px;
    width: 920px;
    border-radius: 15px;
  }
}
